<div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Hola, un gusto!</h1>
      <p class="lead">Bienvenido al sistema de materiales</p>
      <hr class="my-4">
      <p>El sistema es sencillo, consta del proceso crud para los catalogos de tipos de materiales y materiales.<br>
        Está desarrollado con angular js y TypeScript como técnologia de desarrollo de lado del cliente y Firebase como técnologia de desarrollo del lado del servidor.
      </p>
    </div>
  </div>